* {
    font-family: 'Proxima Nova';
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template: repeat(9, 1fr) / repeat(12, 1fr);
}

header {
    grid-row: 1 / 1;
    grid-column: 1 / span 12;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: bold;
    padding-top: .75em;
}

nav {
    grid-row: 2 / 2;
    grid-column: 1 / span 12;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 2em;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

li {
    padding: .5em 2em .5em 2em;
}

.mission {
    background-image: url("communism2.png");
    background-position: center;
    grid-row: 3 / 5;
    grid-column: 1 / span 12;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}

img {
    object-fit: contain;
    max-width: 40%;
}

h2{
    grid-row: 5 / 6;
    grid-column: 1 / span 12;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {
    grid-row: 6 / 8;
    grid-column: 1 / span 12;
    display: grid;
    grid-template-areas: 
    "china vietnam"
    "laos cuba";
    justify-content: center;
    padding-bottom: 1em;
}
.portfolioBox{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}

.heroes {
    background-image: url("flags.jpg");
    background-position: center;
    grid-row: 8 / 10;
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#title{
    grid-column: 1 / span 12;
    grid-row: 1 / 1;
    display: flex;
    justify-content: center;
    color: white;
    padding: 1em 0 1em 0;
}


#pic1{
    display: flex;
    justify-content: center;
    color: white;
    padding: 1em 0 1em 0;
    grid-row: 2 / span 2;
    grid-column: 1 / 1;
    max-width: 100%;
}
#hero1{
    grid-row: 4 / span 1;
    grid-column: 1 / 1;
    display: flex;
    justify-content: center;
    color: white;
    padding: 1em 0 1em 0;
}

#pic2{
    display: flex;
    justify-content: center;
    color: white;
    padding: 1em 0 1em 0;
    grid-row: 2 / span 2;
    grid-column: 2 / 2;
    max-width: 100%;
}
#hero2{
    grid-row: 4 / span 1;
    grid-column: 2/ 2;
    display: flex;
    justify-content: center;
    color: white;
    padding: 1em 0 1em 0;
}

#pic3{
    display: flex;
    justify-content: center;
    color: white;
    padding: 1em 0 1em 0;
    grid-row: 2 / span 2;
    grid-column: 3/3;
    max-width: 100%;
}
#hero3{
    grid-row: 4 / span 1;
    grid-column: 3 / 3;
    display: flex;
    justify-content: center;
    color: white;
    padding: 1em 0 1em 0;
}

a {
    color: black;
}

#missionLink {
    color: white;
}